:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
  font-family: roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: #e5e5e5;
}

/* header */

.header-logotype,
.footer-logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.header-logotype {
  color: #000000;
}
.footer-logotype {
  color: #ffffff;
}
.logo {
  color: var(--accent-color);
}
.header-logotype:hover,
.header-logotype:focus,
.footer-logotype:hover,
.footer-logotype:focus {
  color: var(--accent-color);
}
.link-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.site-nav .link-item:hover,
.site-nav .link-item:focus,
.contact:hover,
.contact:focus {
  color: var(--accent-color);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
}
h1,
h2,
h3 {
  color: var(--title-text-color);
}
.hero,
.page-footer {
  background-color: #2f303a;
}
.hero-title,
.adress {
  color: #ffffff;
}

/* buttons */

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}
.hero-button,
.filter-button {
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--title-text-color);
  cursor: pointer;
}
.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}
.hero-button:hover,
.hero-button:focus,
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.filter-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.features-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.work-title,
.comand-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.comand-title-man {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.comand-text {
  font-size: 16px;
  line-height: 1.2px;
  letter-spacing: 0.03em;
}
.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.comand {
  background-color: #f5f4fa;
}
.contact {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
